body {
  background-image: url("/Users/majimarintarou/Desktop/初めてのブログ/MyBlog/home2.JPG");
  background-size:cover;
  background-attachment: fixed;
  background-position: 50% 0%;
  color:gray;
}

a {
  font-weight:bold;
  text-decoration:none;
}
  
a:link {
  color:#0000FF;
}
  
a:visited {
  color:#6600FF;
}
  
a:hover {
  color:#FF0099;
  text-decoration:underline;
}
  
a:active {
  color:#33CC00;
}