
*{
  font-family: serif; 
  /* text-shadow: whitesmoke 3px 3px 0px;zzzzzzzz */
  /* font-size: 0.3cm; */
}

/* 横書き */
body{ 
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  position:relative;
  /* height: 100%; */
  /* background-image: url("../BGImg/12.jpg"); */
}

/* ヘッダー */
header{
  z-index: 0;
  /* position:fixed; */
  margin-right: 10px;
  margin-top: 40px;
  display: inline-block;
}
div[class="logo"]{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  /* display: fixed; */
  margin-right:20px;
  margin-top: 0px;
  /* color:white; */
  background-color: rgba(200,200,200, 0.5);
  height: fit-content;
  /* mix-blend-mode:difference; */
}
div[class="sublogo"] {
  /* position: fixed; */
  /* left: 20px; */
  /* display: fixed; */
  margin-top: 20px;
  background-color: rgba(200,200,200, 0.5);
  height: fit-content;
  /* mix-blend-mode:exclusion; */

}
ul[id="headerList"]{
  display: block;
  margin-top: 0px;
  text-align:center;
  z-index: 1000;
  margin-right: 20px;
  margin-left: 20px;
  
}
li[id = "headerList"]{
  display: inline-block;
  margin-top: 10px;
  text-align:center;
  z-index: 1;
  background-color: rgba(200,200,200, 0.5);
  height: fit-content;
  
}



li{
  list-style-type: none;
}





li[class="content"]{
  /* display: inline-block; */
  list-style-type: none;
  margin-right: 20px;
  /* background: whitesmoke; */
  font-size: 20px;
}
p[class = "contentComment"]{
  margin-right: 10px;
  background-color: rgba(200,200,200, 0.4);
  height: fit-content;
}



/* 自作背景設定 */
img[class = "backGround"]{
  z-index: -10;
  position: fixed;
  /* display: flex; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: -10%;
  border-width: 0cm;
}

p[id="pageTitle"]{
  font-size: 20px;
  /* text-align: center; */
  font-family: serif;
  /* background-color: whitesmoke; */
  /* display: inline-block; */
  margin-top: 60px;
  /* margin-right: 200px; */;
}
p[class = "mainBody"]{
  margin-right: 40px;
  margin-top: 70px;
  margin-bottom: 150px;
  margin-left: 0px;
  background-color: whitesmoke;
  /* display: inline-block; */
  z-index: 1;
}
img[class = "contentImg"]{
  z-index: 1;
  /* margin-right: 80px; */
  /* margin-left: 40px; */
  margin-top: 15vh;
  margin-right: 15vh;
  margin-left: 15vh;
  
  /* height: 200px; */
  max-height: 35vh;
  max-width: 100vw;
  background-color: whitesmoke;
  display: inline-block;
}
p[class = "imgComment"]{
  writing-mode: horizontal-tb;
  display: inline-block;
  /* margin-right: 20vh; */
  /* margin-left: 10vh; */
  margin-top: 0;
  font-size: 14px;
  text-align:center;
  background-color: rgba(200,200,200, 0.5);
  width: fit-content;
}


ul[class = "mainBody"]{
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 40vh;
}
li[class = "mainBody"]{
  display: inline-block;
}



.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(180,180,180,0.98);
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease-out;

   /* これを追加 */
   overscroll-behavior: contain;
   overflow-x: scroll;
   scrollbar-width: none;
   -ms-overflow-style: none;
   touch-action: none;

}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: all;
}

.modal-image {
  position: absolute;
  max-width: 95%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0;
  transition: 0.5s ease-out;
}

.modal-image.show {
  opacity: 1;
}

ul>img[class='contentImg']{
    z-index: 1;

    margin-top: 5vh;
    margin-right: 25px;
    margin-left: 20px;
    
    /* height: 200px; */
    max-height: 20vh;
    max-width: 50vw;
    background-color: whitesmoke;
    display: inline-block;
}

input[type = 'button']{
  width:3em; height:10em;  border: dashed 1px #906e84; border-radius: 10px; cursor: pointer; background-color: #eee;
}

.whitebox{
  background-color: rgba(200,200,200, 0.4);
  height: fit-content;
}

a:visited {
  color:mediumblue;
}
